<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MetaGame</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="header clearfix small">
        <nav class="hidden-xs">
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{{ path('index') }}">Home</a></li>
                {% if app.user %}
                    <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Sign in</a></li>
                    <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
        <h4 class="text-muted">MetaGame</h4>
    </div>
</div>
<div class="container">

    {% block body %}
    {% endblock %}

    <footer class="footer hidden-xs small">
        <p>&copy; 2017 MetaGame by Alsciende</p>
    </footer>

</div> <!-- /container -->

</body>
</html>
